{% if categories %}
  <ul class="offcanvas__menu">
    {% for category in categories %}
      <li class="offcanvas__menu-item">
        <a href="{{ category.href }}">{{ category.name }}</a>
      </li>
    {% endfor %}
  </ul>
{% endif %}