html {
  height: 100%;
}

body {
  overflow-x: hidden;
  height: 100%;
}

.top__selector {
  background-color: #211e1b;
}

.offcanvas-header button {
  color: #fff;
  background-color: transparent;
  border: none;
}

.offcanvas-body > .collapse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.offcanvas-body > .collapse a {
  color: #fff;
  text-decoration: none;
}

.offcanvas__close-icon {
  font-size: 36px;
  background-color: transparent;
}

.top {
  display: block;
  position: relative;
}

.top__overlay {
  width: 100%;
  height: 70px;
  background-color: #000;
}

.top__header {
  background-color: rgba(45, 45, 45, 0.98);
  height: 70px;
  text-transform: uppercase;
  font-size: .9rem;
}

@media screen and (min-width: 992px) {
  .top__header {
    font-size: 1rem;
  }
}

.top__header .nav-link {
  color: #fff;
}

.top__header .nav-link:hover {
  color: var(--bs-primary);
}

.top__header .dropdown-menu {
  top: 2.8rem;
  left: 0;
  padding: 0;
  background-color: rgba(45, 45, 45, 0.98);
}

.top__header .dropdown-menu a {
  padding: .5rem .5rem;
  font-size: 1rem;
  color: #fff;
}

.top__header .dropdown-menu a:hover {
  background-color: var(--bs-primary);
}

.top__header .dropdown-menu a:nth-of-type(1) {
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}

.top__header .dropdown-menu a:nth-last-of-type(1) {
  border-bottom-left-radius: .25rem;
  border-bottom-right-radius: .25rem;
}

#logo img {
  height: 70px;
}

#cart > .btn:hover {
  color: var(--bs-primary);
}

.btn {
  color: #fff;
}

.top__phone a {
  text-decoration: none;
  color: #fff;
}

.top__phone:hover > a {
  color: var(--bs-primary);
}

.fixed {
  height: 60px;
}

.common__image {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(./../image/kovriki-main.jpg) center center/cover no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(./../image/kovriki-main.jpg) center center/cover no-repeat;
}

@media screen and (max-width: 576px) {
  .common__image {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(./../image/kovriki-main-sm.jpg) center center/cover no-repeat;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(./../image/kovriki-main-sm.jpg) center center/cover no-repeat;
  }
}

@media screen and (max-width: 992px) {
  .common__image {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(./../image/kovriki-main-lg.jpg) center center/cover no-repeat;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(./../image/kovriki-main-lg.jpg) center center/cover no-repeat;
  }
}

.common__tab-img {
  position: relative;
  height: 500px;
  width: auto;
  overflow: hidden;
}

.kovriki {
  height: 500px;
  overflow: hidden;
  position: relative;
  top: 0;
  left: 0;
}

.kovriki .common__tab-img {
  -o-object-fit: cover;
     object-fit: cover;
}

.vors {
  position: absolute;
  overflow-x: hidden;
  width: auto;
  height: 500px;
  top: 0;
  left: 0;
  z-index: 100;
}

.common__material {
  background-color: #000;
}

.material > img {
  -o-object-fit: contain;
     object-fit: contain;
}

.common__category {
  background-color: #000;
}

.category__img {
  width: 100%;
  height: auto;
}

.breadcrumb li {
  padding-left: .4rem;
}

.common__description {
  margin: 5rem auto;
}

.product__category-item img {
  height: auto;
  width: 100%;
}

.common__custom .nav-link img {
  border-radius: 50%;
}
/*# sourceMappingURL=stylesheet.css.map */