//----------Additional top selector----------//
body {
  overflow-x: hidden;
}


.top__selector {
  background-color: #211e1b;
}

//----------OffCanvas Menu----------//

.offcanvas-header {
  button {
    color: #fff;
    background-color: transparent;
    border: none;
  }
}
.offcanvas-body > .collapse{
  display: flex;
  a {
    color: #fff;
    text-decoration: none;
  }
}
.offcanvas__close-icon {
  font-size: 36px;
  background-color: transparent;
}
//----------Header----------//

.top__header {
  background-color: rgba(45,45,45,0.98);
  padding: 0;
  text-transform: uppercase;
  font-size: .9rem;
  @media screen and(min-width: 992px) {
    font-size: 1rem;
  }
  .nav-link {
    color: #fff;
  }
  .dropdown-menu {
    background-color: rgba(45,45,45,0.98);
    a {
      font-size: .8rem;
      color: #fff;
      &:hover {
        background-color: rgba(34, 34, 34, 0.98);
      }

    }
  }
}

#logo {
  img {
    height: 50px;
    @media screen and(min-width:576px){
    height: 80px;
    }
    @media screen and(min-width:992px){
      height: 90px;
      }
  }
}


  // Remover Dropdown Arrows

  // .dropdown-toggle::after {
  //   content: none;
  // }
  
  .btn {
    color: #fff;
  }

.top__phone {
  a {
    text-decoration: none;
    color: #fff;
  }
}

.fixed {
  line-height: 50px;
  height: 50px;
}
//------------Common section------------//

.common__image {
  background: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url(./../image/kovriki-main.jpg) center center / cover no-repeat;
}

.common__tab-img {
  position: relative;
  height: 500px;
  width: 100%;
}

.kovriki {
  height: 500px;
  overflow: hidden;
  position: relative;
  top: 0;
  left: 0;
}

.vors {
  position: absolute;
  height: 500px;
  top: 0;
  left: 10px;
  z-index: 100;
}

.common__material {
  background-color: #000;
}

.material > img {
  object-fit: contain;
}