//----------Additional top selector----------//
body {
  overflow-x: hidden;
}

.top__selector {
  background-color: #211e1b;
}

//----------OffCanvas Menu----------//

.offcanvas-header {
  button {
    color: #fff;
    background-color: transparent;
    border: none;
  }
}
.offcanvas-body > .collapse{
  display: flex;
  a {
    color: #fff;
    text-decoration: none;
  }
}
.offcanvas__close-icon {
  font-size: 36px;
  background-color: transparent;
}
//----------Header----------//

.top {
  display: block;
  position: relative;
}

.top__overlay {
  width: 100%;
  height: 70px;
  background-color: #000;
}

.top__header {
  background-color: rgba(45,45,45,0.98);
  height: 70px;
  text-transform: uppercase;
  font-size: .9rem;
  @media screen and(min-width: 992px) {
    font-size: 1rem;
  }

  .nav-link {
    color: #fff;
    &:hover {
      color: var(--bs-primary);
    }
  }
  .dropdown-menu {
    top: 2.8rem;
    left: 0;
    padding: 0;
    background-color: rgba(45,45,45,0.98);
    a {
      padding: .5rem .5rem;
      font-size: 1rem;
      color: #fff;
      &:hover {
        background-color:var(--bs-primary);
      }
      &:nth-of-type(1) {
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem
      }
      &:nth-last-of-type(1) {
        border-bottom-left-radius: .25rem;
        border-bottom-right-radius: .25rem;
      }
    }
  }
}

#logo {
  img {
    height: 70px;
  }
}

//--**Cart**--//
#cart > .btn:hover {
  color: var(--bs-primary);
}


  // Remover Dropdown Arrows

  // .dropdown-toggle::after {
  //   content: none;
  // }
  
  .btn {
    color: #fff;
  }

.top__phone {
  a {
    text-decoration: none;
    color: #fff;
  }
}


.top__phone:hover > a{
  color: var(--bs-primary);
}

.fixed {
  height: 60px;
}
//------------Common section------------//

.common__image {
  background: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url(./../image/kovriki-main.jpg) center center / cover no-repeat;
  @media screen and(max-width: 576px){
    background: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url(./../image/kovriki-main-sm.jpg) center center / cover no-repeat;
  }
  @media screen and(max-width: 992px){
    background: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url(./../image/kovriki-main-lg.jpg) center center / cover no-repeat;
  }
}

.common__tab-img {
  position: relative;
  height: 500px;
  width: auto;
  overflow: hidden;
}

.kovriki {
  height: 500px;
  overflow: hidden;
  position: relative;
  top: 0;
  left: 0;
  .common__tab-img {
    object-fit: cover;
  }
}

.vors {
  position: absolute;
  width: auto;
  height: 500px;
  top: 0;
  left: 0;
  z-index: 100;
}

.common__material {
  background-color: #000;
}

.material > img {
  object-fit: contain;
}

.common__category {
  background-color: #000;
}

.category__img {
  width: 100%;
  height: auto;
}

.breadcrumb {
  li {
    padding-left: .4rem;
  }
}

.common__description {
  margin: 5rem auto;
}